body {
    background-color: white;
}
h1 {
    text-align: center;
    color: rgb(65,40,0);
}
h3 {
    padding-left: 5%;
    color: black;
}
.widetable, .narrowtable {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    box-shadow: 0 0 15px rgba(50,50,50,0.5);
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}
.popup {
    top: 25%;
    left: 0;
    right: 0;
    font-size: 14px;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #383838;
    background: #fefefe;
    z-index: 1000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}
.close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 131, 119, 0.9);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;

}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
/* кнопка закрытия при наведении */
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
}
.narrowtable {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.widetable {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
th {
    text-align: center;
    background: white;
    color: black;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: black;
}
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: black;
    padding: 10px 20px;
    background: white;
}
.main_div {
    padding: 10px 20px;
    background: black;
}
.input {
    height: 25px;
    border-radius: 3px;
}
.index_div {
    text-align: center;
    margin: 10%;
    border-width: 2px;
    border-color: #7554ff;
    border-radius: 10px;
}
.main_div {
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.inner_div {
    border: solid;
    padding: 10px;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    background:white;
}
.button_div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tdc {
    text-align: center;
}
.tdl {
    text-align: left;
}
tr:hover {
    text-shadow: 0 1px 1px #2D2020;
}

.widemenu, .narrowmenu {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
}
.widemenu {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    height: 30px;
}
.narrowmenu {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    height: 60px;
}
.menuitem {
    float: right;
    width: 170px
}
.menubutton:hover {
    border: 2px solid orangered;
    color: orangered;
}
.smallbutton:hover {
    color: orangered;
}
.bigbutton:hover {
    color: orangered;
}
.giantbutton:hover {
    color: orangered;
}
.menubutton {
    height: 20px;
    width: 150px;
    margin: 5px 10px;
    border: 1px solid rgba(65,40,0,0.6);
    background-color: transparent;
    border-radius: 3px;
    font-size: 12px;
    font-style: italic;
}
.smallbutton {
    height: 28px;
    width: 140px;
    margin: 5px;
    border-radius: 4px;
}
.bigbutton {
    height: 36px;
    width: 240px;
    margin: 10px;
    border-radius: 5px;
}
.giantbutton {
    height: 50px;
    width: 480px;
    margin: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-shadow: 0 1px 1px #2D2020;
    text-align: center;
}
.hidden {
    display: none;
}
.pagination {
    display: inline-block;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.langmenu {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    text-align: right;
    height: 30px;
}
.langmenu_item {
    float: right;
    width: 48px
}
.lang_button {
    height: 20px;
    width: 36px;
    margin: 5px 5px;
    border: none;
    background-color: transparent;
    border-radius: 3px;
    font-size: 12px;
    font-style: italic;
}
.lang_button:hover {
    height: 20px;
    width: 36px;
    margin: 5px 5px;
    border: none;
    background-color: black;
    border-radius: 3px;
    font-size: 12px;
    font-style: italic;
    color:white;
}
.lang_button_active {
    height: 20px;
    width: 36px;
    margin: 5px 5px;
    border: none;
    background-color:black;
    border-radius: 3px;
    font-size: 12px;
    font-style: italic;
    color:white;
}

.pagination a.active {
    background-color: black;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: black;
    color:white;
}
footer {
    text-align: center;
    font-style: italic;
    font-weight :bold;
}